<h1>Criar produto</h1>

<form action="/app/create" method="post">
  <label for="name">Name of product:</label>
  <input type="text" name="name" id="name" />

  <label for="price">Price:</label>
  <input type="number" name="price" id="price" />

  <label for="description">Description:</label>
  <textarea name="description" id="description"></textarea>

  <input type="submit" value="Submit" />
</form>